# Basic .gitattributes for a python repo.

# Source files
# ============
*.py     text diff=python
*.py3    text diff=python

# Binary files
# ============
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# Jupyter notebook
*.ipynb  linguist-documentation
# *.ipynb linguist-vendored=false

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
